.Editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
  margin-bottom: 2vh;
  padding: 4vh;
  border: 4px solid #ef476f;
  border-radius: 5px;
  background-color: #118ab2;
}

.selectors {
  display: flex;
  gap: 2vw;
  margin-bottom: 1vh;
}
